* {
    box-sizing: border-box;
    margin:0px;
    background-color: lightblue;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:20px;
    position: relative;
}
h1 {
    font-size: 20px;
    font-weight: 400px;
    position: relative;
    left: 50px;
}
.nav-bar-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap:40px;
    left: 450px;
    cursor: pointer;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 25px;
    left: 1250px
}
button1 {
    background-color: blue;
    width: 90px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;

}

.taskflow2 {
    background-color: rgb(207, 204, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: absolute;
    list-style: none;
    top: 150px;
    left: 80px;
    gap: 20px;
    width: 280px;
    height: 30px;
}
button2 {
    background-color: rgb(135, 128, 210);
    display: flex;
    justify-content: center;
    width: 40px;
    border-radius: 30px;
    height: 24px;
}
.taskflow3 {
    background-color: rgb(207, 204, 248);
}
h2 {
    font-size: 46px;
    font-weight: 900px;
    position: absolute;
    left: 80px;
    top: 200px;
    height: 100px;
    width: 420px;
}
p {
    font-size: 12px;
    color: rgb(113, 117, 118);
    position: absolute;
    left: 80px;
    top: 330px;
    height: 100px;
    width: 275px;
}
button3 {
   background-color: blue;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 14px;
    align-items: center;
    left: 80px;
    top: 400px;
    width: 150px;
    height: 35px;
}
.watch-video {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 250px;
    top: 400px;
    width: 50px;
    height: 35px;
}
.box1 {
    background-color: white;
    position: absolute;
    border-radius: 10px;
    width: 650px;
    height: 360px;
    left: 590px;
    top: 106px;
}