* {
    box-sizing: border-box;
    margin:0px;
    background-color: white;
}
/* .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:20px;
    position: relative;
}
.hero-content {
    background-color: red;
}
h1 {
    font-size: 20px;
    font-weight: 400px;
    position: relative;
    left: 50px;
}
.nav-bar-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap:40px;
    left: 450px;
    cursor: pointer;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 25px;
    left: 1250px
}
button1 {
    background-color: rgb(90, 90, 251);
    width: 90px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;

}
.taskflow2 {
    background-color: rgb(207, 204, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: absolute;
    list-style: none;
    top: 150px;
    left: 80px;
    gap: 20px;
    width: 280px;
    height: 30px;
    margin-left: 100px;
}
.button-taskflow {
    background-color: rgb(135, 128, 210);
    display: flex;
    justify-content: center;
    width: 40px;
    border-radius: 30px;
    height: 24px;
    margin-left: 20px;
    color:brown;
}
.taskflow3 {
    background-color: rgb(207, 204, 248);
}
h2 {
    font-size: 46px;
    font-weight: 900px;
    position: absolute;
    left: 80px;
    top: 200px;
    height: 100px;
    width: 420px;
}
p {
    font-size: 12px;
    color: rgb(113, 117, 118);
    position: absolute;
    left: 80px;
    top: 330px;
    height: 100px;
    width: 275px;
}
button3 {
   background-color:rgb(90, 90, 251);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 14px;
    align-items: center;
    left: 80px;
    top: 400px;
    width: 150px;
    height: 35px;
}
.watch-video {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 250px;
    top: 400px;
    width: 50px;
    height: 35px;
}
.box1 {
    position: absolute;
    border-radius: 10px;
    width: 700px;
    height: 380px;
    left: 590px;
    top: 106px;
}
.box1-left {
    background-color: brown;
    position: absolute;
    display: flex;
    width: 50px;
    height: 380px;
}
.box1-left-image1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 15px;
}
.box1-left-image2 {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 75px;
}
.box1-left-image3 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 115px;
}
.box1-left-image4 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 155px;
}
.box1-left-image5 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 195px
}
.box1-left-image6 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 235px
}
.box1-left-image7 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 340px;
}
.search-bar {
    left: 74px;
    top: 6px;
    position: relative;
    width: 269px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
}
h5 {
    position: relative;
    left:74px;
}
h3 {
    font-size: 20px;
    font-weight: 600px;
    position: absolute;
    left: 540px;
    top: 500px;;
    height: 20px;
    width: 350px;
    color: black;
}
.box2 {
    background-color: white;
    position: absolute;
    width: 170px;
    height: 118px;
    left: 210px;
    top: 550px;
}
.testmanagement-image {
    position: absolute;
    width: 50px;
    height: 35px;
}
.test1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 43px;
    font-size: 15px;
    font-weight: bold;
}
.test2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 10px;
    width: 130px;
    left:0px;
    top:25px;
    font-weight: -200px;
}
.box3 {
    background-color: white;
    position: absolute;
    width: 170px;
    height: 118px;
    left: 250px;
    top: -45px;
}
.box4 {
    background-color: rgb(251, 251, 249);
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 1000px;
    height: 75px;
    left:-540px;
    top: 90px;
}
h4 {
    font-size: 12px;
    background-color: rgb(251, 251, 249);
    position: absolute;
    top:6px;
    color: rgb(130, 118, 118)       
}
.footer-image1 {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 70px;
}
.footer-image2 {
    position: absolute;
    width: 50px;
    height: 30px;
    left:210px;
}
.footer-image3 {
    position: absolute;
    width: 90px;
    height: 80px;
    left: 360px;
}
.footer-image4 {
    position: absolute;
    width: 80px;
    height: 60px;
    left: 555px;
}
.footer-image5 {
    position: absolute;
    width: 110px;
    height: 40px;
    left: 685px;
}
.footer-image6 {
    position: absolute;
    width: 84px;
    height: 30px;
    left: 845px;
} */
 .app-container {
    padding:30px;
 }
.nav-bar {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.navibar-image {
    width: 18px;
    height: 18px;
    position: relative;
}
.navibar-heading {
    position: absolute;
    display: flex;
    left:50px;
    font-size: 20px;
}
.nav-bar-list {
    display: flex;
    justify-content: center;
    position: absolute;
    left:420px;
    gap:30px;
    list-style: none;
    cursor: pointer;
}
.login {
    position: absolute;
    display: flex;
    left: 1200px;
    gap:20px;
}
.taskflow-button {
    background-color: rgb(90, 90, 251);
    border: 1px solid rgb(19, 19, 212);
    position: relative;
    height: 25px;
    border-radius: 8px;
    font-size: 10px;
    color: white;
}
.hero-section {
    margin-left: 20px;
}
.hero-button1 {
    display: flex;
    position: absolute;
    border: 1px solid rgb(215, 186, 231);
    top:110px;
    list-style: none;
    gap:20px;
    align-items: center;
    background-color: rgb(215, 186, 231);
    border-radius: 30px;
    width:180px;
}
.taskflow-button {
    border-radius: 30px;
    left:5px;
    background-color: rgb(176, 68, 234);
    border-color: rgb(215, 186, 231);  
    color:black;  
}
.taskflow3 {
    background-color: rgb(215, 186, 231);
    font-size: 10px;
}
.hero-content {
    font-size: 50px;
    position: absolute;
    top:150px;
    width: 600px;
    font-weight:bolder;
}
.hero-paragraph {
    top:280px;
    width:330px;
    font-size: 14px;
    position: absolute;
    color: rgb(100, 98, 98);
}
.hero-button {
    background-color: blue;
    position: relative;
    display: flex;
    align-items: center;
    width: 145px;
    height: 30px;
    top: 310px;
    border-radius: 8px;
}
.watch-video {
    position: absolute;
    display: flex;
    width: 60px;
    height: 34px;
    top: 355px;
    left: 210px;
}
.left-box {
    width: 600px;
    height: 380px;
    display: flex;
    position: absolute;
    top: 90px;
    left: 620px;
    background-color:white;
    border-radius: 10px;
}
.leftbox-dashboard {
    background-color: white;
    position: absolute;
    display: flex;
    width: 50px;
    height: 380px;
}
.leftbox-image1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 15px;
}
.leftbox-image2 {
    position: absolute;
    width: 30px;
    height:30px;
    left:10px;
    top:50px;
}
.leftbox-image3 {
    position: absolute;
    width: 30px;
    height:30px;
    left:10px;
    top:85px;
}
.leftbox-image4 {
    position: absolute;
    width: 30px;
    height:30px;
    left:10px;
    top:120px;
}
.leftbox-image5 {
    position: absolute;
    width: 30px;
    height:30px;
    left:10px;
    top:155px;
}
.leftbox-image6 {
    position: absolute;
    width: 30px;
    height:30px;
    left:10px;
    top:190px;
}
.leftbox-image7 {
    position: absolute;
    width: 30px;
    height:30px;
    left:10px;
    top:340px;
}
.search-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10px;
    left: 60px;
    border: 1px solid white;
    background-color: rgb(228, 231, 232);
    width: 360px;
    height: 25px;
}
.notification {
    position: absolute;
    width: 22px;
    height: 25px;
    top: 10px;
    left: 485px;
}
.leftbox-maincontent {
    position: absolute;
    display: flex;
    top:60px;
    left:60px;
}
.leftbox-paragraph {
    position: absolute;
    display: flex;
    top:77px;
    left:60px;
    font-size: 10px;
    font-weight: 100;
    color: rgb(150, 132, 132);
}
.left-box1 {
    position: absolute;
    width:120px;
    height:90px;
    left: 60px;
    top: 100px;
}
.leftbox-head1 {
    position: absolute;
    color: rgb(150, 132, 132);
    font-size: 12px;
}
.leftbox-main1 {
    position: absolute;
    top:20px;
}
.leftbox-footer1 {
    position: absolute;
    top:60px;
    font-size: 12px;
}
.left-box2 {
    position: absolute;
    width:120px;
    height:90px;
    left: 190px;
    top: 100px;
}
.leftbox-head2 {
    position: absolute;
    color: rgb(150, 132, 132);
    font-size: 12px;
}
.leftbox-main2 {
    position: absolute;
    top:20px;
}
.leftbox-footer2 {
    position: absolute;
    top:60px;
    font-size: 12px;
}
.left-box3 {
    position: absolute;
    width:120px;
    height:90px;
    left: 320px;
    top: 100px;
}
.leftbox-head3 {
    position: absolute;
    color: rgb(150, 132, 132);
    font-size: 12px;
}
.leftbox-main3 {
    position: absolute;
    top:20px;
}
.leftbox-footer3 {
    position: absolute;
    top:60px;
    font-size: 12px;
}
.left-box4 {
    position: absolute;
    width:120px;
    height:90px;
    left: 450px;
    top: 100px;
}
.leftbox-head4 {
    position: absolute;
    color: rgb(150, 132, 132);
    font-size: 12px;
}
.leftbox-main4 {
    position: absolute;
    top:20px;
}
.leftbox-footer4 {
    position: absolute;
    top:60px;
    font-size: 12px;
}
.testmonial-heading {
    position: absolute;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    top: 525px;
    left: 460px;
}
.testmonials-box1 {
    background-color: white;
    position: absolute;
    width: 145px;
    height: 115px;
    top: 555px;
    left: 235px;
}
.testmonial-image1 {
    position: absolute;
    width: 50px;
    height: 35px;
}
.testmonial1 {
    position:absolute;
    font-size: 14px;
    font-weight: 900;
    top: 45px;
}
.testmonial2 {
    position: absolute;
    font-size: 12px;
    font-weight: lighter;
    top: 70px;
}
.testmonial-box2 {
    background-color: white;
    position: absolute;
    width: 145px;
    height: 115px;
    top: 555px;
    left: 435px;
}
.testmonial-image2 {
    position: absolute;
    width: 50px;
    height: 35px;
}
.testmonial-box3 {
    background-color: white;
    position: absolute;
    width: 145px;
    height: 115px;
    top: 555px;
    left: 635px;
}
.testmonial-image3 {
    position: absolute;
    width: 50px;
    height: 35px;
}
.testmonial-box4 {
    background-color: white;
    position: absolute;
    width: 145px;
    height: 115px;
    top: 555px;
    left: 835px;
}
.testmonial-image4 {
    position: absolute;
    width: 50px;
    height: 35px;
}
.footer1 {
    background-color: rgb(251, 251, 249);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 75px;
    top: 690px;
    left: 170px;
}
.footer-heading {
    font-size: 12px;
    font-weight: lighter;
    color:rgba(97, 94, 99, 0.871);
    display: flex;
    position: absolute;
    top:5px;

}
.footerimage1 {
    position: absolute;
    height: 30px;
    width:50px;
    left:80px;
}
.footerimage2 {
    position: absolute;
    height: 30px;
    width:50px;
    left:230px;
}
.footerimage3 {
    position: absolute;
    height: 65px;
    width: 50px;
    left: 390px;
}
.footerimage4 {
    position: absolute;
    height: 40px;
    width: 50px;
    left: 560px;
}
.footerimage5 {
    position: absolute;
    height: 30px;
    width:50px;
    left:705px;
}
.footerimage6 {
    position: absolute;
    height: 30px;
    width:50px;
    left:850px;
}