* {
    box-sizing: border-box;
    margin:0px
}
h1{
    width:100px;
    height:100px;
    background-color: blue;
}
h2 {
    width:100px;
    height:100px;
    background-color: red;
}
    
.block22 {
    display: inline-block;
    width:100px;
    background-color:skyblue;
}
.abc {
    display: flex;
    background-color: skyblue;
}
.block1 {
    width:200px;
    height:200px;
    background-color: skyblue;
}
.block2
 {
    width:200px;
    height:200px;
    background-color: rgb(202, 80, 46);
    position:relative;
}
.block3 {
    width:200px;
    height:200px;
    background-color: yellowgreen;
}
.button {
    width:100px;
    height:47px;
    color:black;
    background-color:yellow;
    position:fixed;
    bottom:0;
}
.block4 {
    width:200px;
    height:200px;
    background-color: rgb(9, 68, 117);
}
.block5 {
    width:200px;
    height:200px;
    background-color: lightpink;
}
.nav-bar list {
    display:flex;
    justify-content:space-between;
    background-color:lightcoral;
    color:black;    
}
.nav-bar {
    position: sticky;
    display:flex;
    justify-content:space-between;
    background-color:lightcoral;
    color:black; 
    top:0;

    
}